.PetManagementContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100vh;
  background: url('../../../../assets/Shelter.jpg') no-repeat center;
  background-size: contain;
}
.PetManagementHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logo {
  min-width: 15rem;
  transition: all 0.1s ease-in-out;
}
.logo:hover {
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  transform: translateY(-3px);
}
.darkAdd {
  height: 3rem;
  position: relative;
}
.darkAdd:hover {
  cursor: pointer;
  opacity: 0;
}
.lightAdd {
  height: 3rem;
  position: relative;
  bottom: 3rem;
  opacity: 0;
}
.lightAdd:hover {
  opacity: 1;
  cursor: pointer;
}
.petBtnContainer {
  width: 4%;
  height: 3rem;
  transition: all 0.1s ease-in-out;
}
.petBtnContainer:hover {
  transition-timing-function: ease-in;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  transform: translateY(-3px);
}
