.clientDashContainer {
  margin: auto;
  margin: 0rem 2rem 0rem 2rem;
}
.clientHeader {
  margin-left: 5rem;
  display: flex;
  justify-content: center;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
