.iconCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13rem;
  width: 13rem;
  transition: all 0.1s ease-in-out;
  margin: 2rem 0rem 0rem 5rem;
}
.iconCard:hover {
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  transform: translateY(-3px);
}
.iconImg {
  width: 75%;
}
