.client-form{
  height: 100vh;
  background: url('../../../assets/Shelter.jpg') no-repeat center;
  background-size: contain;
}

h1{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

.client-input{
    display: flex;
    justify-content: center;
}